{% extends 'core/base.html' %}

{% load static %}

{% block title %}Portafolio{% endblock %}

{% block background %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Portafolio</h1>
    <span class="subheading">Currículum</span>
{% endblock %}

{% block content %}

{{projects}}

    <!-- Proyecto -->
<div class="row project">  	
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{% static 'core/img/home-bg.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">Cv Online</h2>   
        <p>Sitio web realizado en html, css y javascript que realice siguiendo un tutorial de You Tube donde describia algunos detalles de mi hoja de vida.</p>
         <p><a href="https://sbogado87.github.io/cv">Más información</a></p> 
    </div>
</div>
<div class="row project">  	
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{% static 'core/img/lulo.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">Tienda Lulo</h2>   
        <p>Fan page realizada para la venta de productos de ropa y accesorios femenino.</p>
        <p><a href="https://www.facebook.com/tiendalulo">Más información</a></p> 
    </div>
</div>
{% endblock %}