{% extends 'core/base.html' %}

{% load static %}

{% block title %}Portafolio{% endblock %}

{% block background %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Portafolio</h1>
    <span class="subheading">Currículum</span>
{% endblock %}

{% block content %}

    {% for projects in projects %}

        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{projects.image.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title">{{ projects.title }}</h2>   
                <p>{{ projects.description }}</p>
                {% if project.link %}
               <p><a href="{{ project.link }}">Más información</a></p>  
               {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}