{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row">  
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Siempre estoy abierto a nuevas oportunidades, por lo que podes hacerme llegar tu propuesta por cualquiera de los canales y podemos comenzar a  charlar. </p>
        <br>
        <p><b>Teléfono:</b> +54 11 5748 8433</p>
        <p><b>Email:</b> sbogado87@gmail.com</p>
    </div>
</div>
{% endblock %}